<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="iOS Keyboard"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        
        <!-- Keyboard Service -->
        <service
            android:name=".KeyboardService"
            android:label="iOS Keyboard"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:exported="true">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <!-- Flutter Embedding v2 (required for build system) -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>
</manifest>